apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: se350-05
  namespace: openshift-machine-api
spec:
  automatedCleaningMode: metadata
  bmc:
    address: redfish-virtualmedia://se350-05-xcc.lan/redfish/v1/Systems/1
    credentialsName: se350-05-bmc-secret
    disableCertificateVerification: true
  bootMACAddress: 08:3a:88:1e:0c:a6
  online: true
