apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base
  - ../../../components/argocd/applicationsets/overlays/default
  - ../../../components/argocd/apps/overlays/default
